$alabaster: #fbfbfb;
$yellow-orange: #fbb03f;
$apple: #38B96E;
$apple-transparent: rgba($apple, .5);
$satin-linen: #E5E4D7;
$cerulean: #089de3;
$cerulean-transparent: rgba(#089de3, .3);
$mine-shaft: #333;
$gallery: #EBEBEB;
$mishka: #D0D0DA;
$mist: #90AFC5;
$overcast: #F1F1F1;

/*borders*/
$border: 5px;

/*            Resets           */
body {
  background-color: $alabaster;
}

.navbar-brand {
  height: auto;
  img {
    border-radius: 50%;
  }
}

/*Common Code*/

@media screen and (min-width: 1200px) {
  .main-content {
    max-width: 1200px;
    margin: auto;
  }
}

table {
  max-width: 100%;
  width: 100%;
}

thead {
  background-color: $mist;
  color: white;
  th:first-child {
    border-top-left-radius: $border;
  }
  th:last-child {
    border-top-right-radius: $border;
  }
}

tbody {
  tr {
    &:nth-child(even) {
      background-color: $overcast;
      td:not(:last-child) {
        border-right: 1px solid $mishka;
      }
    }
    &:nth-child(odd) {
      td:not(:last-child) {
        border-right: 1px solid $mishka;
      }
    }
  }
}

th {
  padding: 9px 10px;
  &:not(:last-child) {
    border-right: 1px solid white;
  }
}

td {
  padding: 5px 10px;
  text-transform: capitalize;
}

/*         Components          */

header,
.navbar-inverse {
  border: none;
  background-color: $apple;
  color: white;
}

.navbar-nav>li>a,
.navbar-brand {
  color: white !important;
}

/*          Loader            */
.loader-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: white;
  opacity: 1;
  transition: .5s opacity ease;

  .loader {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  .bounce {
    border-radius: 50%;
    position: absolute;;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $apple-transparent;
    animation: bounce .75s ease infinite;
    -webkit-animation: bounce .75s ease infinite;
  }
  &.loaded {
      opacity: 0;
  }
}

/*          Animations          */
@-webkit-keyframes bounce {
    0%, 100% {
        transform: scale(0);
        -webkit-transform: scale(0)
    }

    50% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }
}

@keyframes bounce {
    0%, 100% {
        transform: scale(0);
        -webkit-transform: scale(0.5)
    }

    50% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }
}
