/*borders*/
/*            Resets           */
body {
  background-color: #fbfbfb; }

main {
  display: block;
  margin-bottom: 30px; }

.navbar-brand {
  height: auto; }
  .navbar-brand img {
    border-radius: 50%; }

/*Common Code*/
@media screen and (min-width: 1200px) {
  .main-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; } }

table {
  max-width: 100%;
  width: 100%;
  border: 1px solid #90AFC5;
  border-radius: 8px;
  border-collapse: separate; }

thead {
  background-color: #90AFC5;
  color: white; }
  thead th:first-child {
    border-top-left-radius: 5px; }
  thead th:last-child {
    border-top-right-radius: 5px; }

tbody tr:nth-child(even) {
  background-color: #F1F1F1; }
  tbody tr:nth-child(even) td:not(:last-child) {
    border-right: 1px solid #D0D0DA; }

tbody tr:nth-child(odd) td:not(:last-child) {
  border-right: 1px solid #D0D0DA; }

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 5px; }

tbody tr:last-child td:last-child {
  border-top-right-radius: 5px; }

th {
  padding: 9px 10px; }
  th:not(:last-child) {
    border-right: 1px solid white; }

td {
  padding: 5px 10px;
  text-transform: capitalize; }

/*         Components          */
header,
.navbar-inverse {
  border: none;
  background-color: #38B96E;
  color: white; }

.navbar-nav > li > a,
.navbar-brand {
  color: white !important; }

/*          Loader            */
.loader-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: white;
  opacity: 1;
  transition: .5s opacity ease; }
  .loader-container .loader {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; }
  .loader-container .bounce {
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(56, 185, 110, 0.5);
    animation: bounce .75s ease infinite;
    -webkit-animation: bounce .75s ease infinite; }
  .loader-container.loaded {
    opacity: 0; }

/*          Animations          */
@-webkit-keyframes bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

@keyframes bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0.5); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
